.container {
    width: 100vw;
    height: 25vw;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.container_child {
    width: 27vw;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
}

.container_status {
    position: sticky;
    top: 0px;
    padding: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.h4 {
    margin-top: 31%;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-weight: lighter;
}

.container_completed_status {
    background-color: #082f49;
}

.container_pending_status {
    background-color:#0f172a;
}

.pending {
    background-color:#082f49;
}

.pending_todo_item {
    background-color: #082f49;
}

.completed {
    background-color:#1e293b;
}

.completed_todo_item {
    background-color: #082f49;
}

.TodoCategoryContainerStyles.todo_item .TodoCategoryContainerStyles.todo_item.pendingtodo {
    background-color: #082f49;
}


.todo_item {
    padding: .5rem;
    border: .2px solid #9ca3af;
    border-left: none;
    border-right: none;
    position: relative;
}

.duedate {
    letter-spacing: 4px;
    font-size: small;
    text-transform: capitalize;
    margin-top: 5px;
    font-style: italic;
    display: block;
    color: #78716c;
}
.todo_item:hover {
    cursor: move;
}

.todoText {
    letter-spacing: 3px;
    text-transform: capitalize;
}
.status {
    display: inline-block;
    letter-spacing: 5px;
    font-size: small;
    text-transform: capitalize;
    margin-top: 5px;
    font-style: italic;
}

.pendingstatus {
    color: #fca5a5;
}

.completedstatus {
    color: #93c5fd;
}


.over {
    border: 1px dashed #ccc;
}

.deleteicon {
    position: absolute;
    right: 10px;
    top: 25px;
    color: #fca5a5;
    transition: all 0.1s;
    width: 25px;
    height: 25px;
    padding: 3px 5.5px;
    border-radius: 50%;
    transition: 0.25s all;
}

.deleteicon:hover {
    color: #f87171;
    background: #fca5a5;
    cursor: pointer;
}

.fade {
    opacity: 0;
    transition: 1s ease all;
}




@media (max-width: 60rem) {
    .container {
        flex-direction: row;
        gap: 1rem;
        width: 90%;
        height: 40vw;
        margin: auto;
        margin-top: 2rem;
    }

    .container_child {
        width: 100%;
        height: 100%;
    }

    .h4 {
        margin-top: 20%;

    }
}


@media (max-width: 40rem) {
    .container {
        flex-direction: column;
        gap: 1rem;
        height: 100vw;
        width: 90%;
    }

    .container_child {
        width: 100%;
        height: 50vh;
    }

    .h4 {
        margin-top: 20%;

    }
}