
.todo_form_div {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background: #94a3b8;
    border-radius: 10px;
    padding: 1rem;
}

.todo_form_div h2 {
    color:  #111827;
}

.todo_form {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}
.formItem {
    width: 45%;

}
.formItem > label, .formItem > input {
    display: block;
    width: 100%;
    color: #111827;
}

.formItem label {
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 5px;
}

.formItem label:hover, .formItem input:hover {
    cursor: pointer;
}

.formItem input {
    padding: .5rem;
    outline: none;
    border: 1px solid;
    border-radius: 5px;

}

.todo_form input::placeholder {
    font-style: italic;
}

.formbtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit_btn{
    padding: 12.5px;
    outline: none;
    border:  none;
    background: #111827;
    color: white;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 2px;
    width: 50%;
}

.submit_btn:hover {
    background-color: #020409;
    cursor: pointer;
}



@media (max-width:70rem) {
    .todo_form_div {
        width: 70%;
    }

    .formItem {
        width: 100%;
    }

}

@media (max-width:40rem) {
    .todo_form_div {
        width: 90%;
    }

    .todo_form {
        flex-direction: column;
    }

    .formItem {
        width: 100%;
    }

}
